watch_file $PWD/.secrets.env flake.nix
source $PWD/.secrets.env

export MAMBA_ROOT_PREFIX="$PWD/.mamba"
export KUBECONFIG="$PWD/kubeconfig"
export REQUESTS_CA_BUNDLE="$PWD/api-proxy-lille-grid5000-fr-chain.pem"


use flake . --impure
