/.direnv/
/.venv
/.vscode/.poetry.cache
/.vscode/*.log
/kubeconfig
inventory/g5k.ini
*.pyc
/.trash
/storage
/ansible/artifacts
/ansible/cachedir
/ansible/env
/ansible/inventory
/cachedir
.python-grid5000.yaml
.devcontainer/devcontainer.json
/mitogen
/charts
