/.direnv/
/.venv
/.vscode/.poetry.cache
/.vscode/*.log
/kubeconfig
inventory/g5k.ini
*.pyc
/.trash
/storage
/ansible/artifacts
/ansible/cachedir
/ansible/env
/ansible/inventory
/ansible/project/_current_exp.yaml
/cachedir
.python-grid5000.yaml
.devcontainer/devcontainer.json
# Devenv
.devenv*
devenv.local.nix

.devenv
.mamba
.DS_Store
.secrets.env
