apiVersion: apps/v1
kind: Deployment
metadata:
  name: throughput
  namespace: default
spec:
  selector:
    matchLabels:
      app: throughput
  replicas: {{ exp_params.instances }}
  template:
    metadata:
      labels:
        app: throughput
    spec:
      pullPolicy: always
      terminationGracePeriodSeconds: 0
      nodeSelector:
        node.kubernetes.io/worker: "true"

      containers:
        - name: workload-generator
          image: registry.gitlab.inria.fr/gkovilkk/greenflow/throughput
          env:
            - name: THROUGHPUT_BROKERS
              value: "{{ exp_params.kafka_bootstrap_servers }}"
            - name: THROUGHPUT_TOPIC
              value: "input"
            - name: THROUGHPUT_MESSAGE_RATE
              value: "{{ exp_params.load }}"
            - name: THROUGHPUT_DURATION
              value: "{{ exp_params.durationSeconds }}s"
            - name: THROUGHPUT_MESSAGE_SIZE
              value: "{{ exp_params.messageSize }}"
            - name: THROUGHPUT_PUSHGATEWAY_URL
              value: "{{ prometheus_pushgateway_url }}"
