---
apiVersion: theodolite.rocks/v1beta1
kind: execution
metadata:
  name: exp
  namespace: default
spec:
  # configOverrides:
  #   - patcher:
  #       type: "NodeSelectorPatcher"
  #       resource: "uc3-load-generator-deployment.yaml"
  #       properties:
  #         variableName: "node-role.kubernetes.io/control-plane"
  #       value: "true"
  #   - patcher:
  #       type: "NodeSelectorPatcher"
  #       resource: "taskmanager-deployment.yaml"
  #       properties:
  #         variableName: "node-role.kubernetes.io/worker"
  #       value: "true"

  benchmark: "uc3-flink"
  load:
    loadType: "NumSensors"
    loadValues:
      - {{ uc3_flink_loadValue }}
  resources:
    resourceType: "Instances"
    resourceValues:
      - {{ uc3_flink_resourceValue }}
  execution:
    strategy:
      name: "RestrictionSearch"
      restrictions:
        - "LowerBound"
      searchStrategy: "FullSearch"
    duration: {{ duration }} # in seconds
    repetitions: 1
    loadGenerationDelay: 5 # in seconds
  slos:
    - name: "Dummy SLO"
      properties:
        externalSloUrl: "http://kp-kube-prometheus-stack-prometheus.default.svc.cluster.local:9090"
        promQLQuery: "sum by(instance) (up)"
        warmup: 60 # in seconds
        queryAggregation: count
        repetitionAggregation: sum
        operator: gte
        threshold: 0
