---
# vim: set ft=yaml:
kafkaClient:
  enabled: true
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
strimzi:
  # Disabling strimzi in favour of deploying chart manually
  enabled: False
  kafka:
    replicas: 3
    kafkaExporter:
      template:
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: node-role.kubernetes.io/control-plane
                        operator: In
                        values:
                          - "true"
    # config:
    #   offsets.topic.replication.factor: 1
    #   transaction.state.log.replication.factor: 1
    #   transaction.state.log.min.isr: 1
    #   default.replication.factor: 1
    #   min.insync.replicas: 1
    # inter.broker.protocol.version: "3.3"
    entityOperator:
      template:
        topicOperatorContainer:
          env:
            - name: "STRIMZI_USE_ZOOKEEPER_TOPIC_STORE"
              value: "true"
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: node-role.kubernetes.io/control-plane
                        operator: In
                        values:
                          - "true"
    template:
      pod:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/worker
                      operator: In
                      values:
                        - "true"
  zookeeper:
    replicas: 3
    zooEntrance:
      enabled: true
      zookeeperClient:
        nodeSelector:
          node-role.kubernetes.io/control-plane: "true"
    nodeselectorterms:
      - matchexpressions:
          - key: node-role.kubernetes.io/worker
            operator: In
            values:
              - "true"
  schemaRegistry:
    enabled: true
    nodeSelector:
      node-role.kubernetes.io/worker: "true"
prometheus:
  enabled: false
kube-prometheus-stack:
  grafana:
    enabled: true
  prometheusOperator:
    enabled: false
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
prometheusOperator:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
alertmanager:
  alertmanagerSpec:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
kube-state-metrics:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
operator:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  theodoliteBenchmarks:
    resourceConfigMaps:
      uc1LoadGenerator: true
      uc1Hazelcast: false
      uc1Kstreams: true
      uc1Flink: false
      uc1BeamFlink: false
      uc1BeamSamza: false
      uc2LoadGenerator: false
      uc2Hazelcast: false
      uc2Kstreams: false
      uc2Flink: false
      uc2BeamFlink: false
      uc2BeamSamza: false
      uc3LoadGenerator: true
      uc3Hazelcast: true
      uc3Kstreams: true
      uc3Flink: true
      uc3BeamFlink: false
      uc3BeamSamza: true
      uc4LoadGenerator: false
      uc4Hazelcast: false
      uc4Kstreams: false
      uc4Flink: false
      uc4BeamFlink: false
      uc4BeamSamza: false
    benchmarks:
      uc1Kstreams: true
      uc1Flink: false
      uc1BeamFlink: false
      uc1BeamSamza: false
      uc1Hazelcast: false
      uc2Kstreams: false
      uc2Flink: false
      uc2BeamFlink: false
      uc2BeamSamza: false
      uc2Hazelcast: false
      uc3Kstreams: true
      uc3Flink: true
      uc3BeamFlink: false
      uc3BeamSamza: true
      uc3Hazelcast: true
      uc4Kstreams: false
      uc4Flink: false
      uc4BeamFlink: false
      uc4BeamSamza: false
      uc4Hazelcast: false
