nodeSelector:
  node.kubernetes.io/broker: "true"
console:
  enabled: true
resources:
  cpu:
    cores: "8"
    overprovisioned: true
  memory:
    enable_memory_locking: true
    container:
      max: 16Gi
    # redpanda:
    #   memory: 14Gi
    #   reserveMemory: 1Gi

config:
  cluster:
    auto_create_topics_enabled: false
    default_topic_partitions: 1
monitoring:
  enabled: true
  scrapeInterval: 5s
listeners:
  schemaRegistry:
    port: 8081
  kafka:
    port: 9092
    tls:
      enabled: false
image:
  repository: registry.gitlab.inria.fr/gkovilkk/greenflow/redpanda
  tag: v23.3.10
  pullPolicy: IfNotPresent
  pullSecrets: []
pullSecrets:
  - name: regcred
statefulset:
  replicas: 3
  podAntiAffinity:
    topologyKey: kubernetes.io/hostname
    type: custom
    weight: 1
    custom:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: redpanda
                app.kubernetes.io/instance: "redpanda"
                app.kubernetes.io/component: redpanda-statefulset
  #TODO: Figure out how to make affinity optional and not required, this is not working and documentation between redpanda helm is broken
# affinity:
#   podAntiAffinity:
#     preferredDuringSchedulingIgnoredDuringExecution:
#       - labelSelector:
#           matchLabels:
#             app.kubernetes.io/component: redpanda-statefulset
#             app.kubernetes.io/instance: redpanda
#             app.kubernetes.io/name: redpanda
#         topologyKey: kubernetes.io/hostname
#         weight: 100
#     requiredDuringSchedulingIgnoredDuringExecution: []

  #   # topologyKey: kubernetes.io/hostname
  #   # type: custom
  #   # weight: 100
  #   # custom:
  #   #   podAntiAffinity:
  #   #     preferredDuringSchedulingIgnoredDuringExecution:
  #   #       - labelSelector:
  #   #           matchLabels:
  #   #             app.kubernetes.io/component: redpanda-statefulset
  #   #             app.kubernetes.io/instance: redpanda
  #   #             app.kubernetes.io/name: redpanda
  #   #         topologyKey: kubernetes.io/hostname
  #   #         weight: 100
