kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana-pvc
  namespace: monitoring
spec:
  storageClassName: "{{ storage_class_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
