---
# vim: set ft=yaml:
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ storage_class_name }}"
provisioner: nfs.csi.k8s.io
parameters:
  server: "{{ nfs_server_address }}"
  share: "{{ nfs_server_share }}"
  subDir: "${pvc.metadata.namespace}-${pvc.metadata.name}"
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions:
  - nconnect=8
