---
# vim: set ft=yaml:
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: scaphandre
  namespace: default
spec:
  jobLabel: scaphandre
  selector:
    matchExpressions:
      - key: app.kubernetes.io/name
        operator: In
        values:
          - scaphandre
  endpoints:
    - port: metrics
      interval: 5s
      relabelings:
        - action: replace
          sourceLabels:
            - __meta_kubernetes_pod_node_name
          targetLabel: instance
        - action: replace
          sourceLabels:
            - __meta_kubernetes_pod_name
          targetLabel: pod
        - action: replace
          sourceLabels:
            - __meta_kubernetes_namespace
          targetLabel: namespace
