---
# vim: set ft=yaml:
kafkaClient:
  enabled: true
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
grafana:
  enabled: false
strimzi:
  kafka:
    replicas: 3
    kafkaExporter:
      template:
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: node-role.kubernetes.io/control-plane
                        operator: In
                        values:
                          - "true"
    entityOperator:
      template:
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: node-role.kubernetes.io/control-plane
                        operator: In
                        values:
                          - "true"
    template:
      pod:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/control-plane
                      operator: In
                      values:
                        - "true"
  zookeeper:
    replicas: 3
    zooEntrance:
      enabled: false
      zookeeperClient:
        nodeSelector:
          node-role.kubernetes.io/control-plane: "true"
    nodeselectorterms:
      - matchexpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: In
            values:
              - "true"
  schemaRegistry:
    enabled: true
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
prometheus:
  enabled: false
kube-prometheus-stack:
  prometheusOperator:
    enabled: false
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
prometheusOperator:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
alertmanager:
  alertmanagerSpec:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
kube-state-metrics:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
operator:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  theodoliteBenchmarks:
    resourceConfigMaps:
      uc1LoadGenerator: true
      uc1Kstreams: false
      uc1Flink: true
      uc1BeamFlink: false
      uc1BeamSamza: false
      uc2LoadGenerator: false
      uc2Kstreams: false
      uc2Flink: false
      uc2BeamFlink: false
      uc2BeamSamza: false
      uc3LoadGenerator: false
      uc3Kstreams: false
      uc3Flink: false
      uc3BeamFlink: false
      uc3BeamSamza: false
      uc4LoadGenerator: false
      uc4Kstreams: false
      uc4Flink: false
      uc4BeamFlink: false
      uc4BeamSamza: false
    benchmarks:
      uc1Kstreams: false
      uc1Flink: true
      uc1BeamFlink: false
      uc1BeamSamza: false
      uc2Kstreams: false
      uc2Flink: false
      uc2BeamFlink: false
      uc2BeamSamza: false
      uc3Kstreams: false
      uc3Flink: false
      uc3BeamFlink: false
      uc3BeamSamza: false
      uc4Kstreams: false
      uc4Flink: false
      uc4BeamFlink: false
      uc4BeamSamza: false
