kafkaClient:
  enabled: true
  nodeSelector: 
    node-role.kubernetes.io/control-plane: "true"
grafana:
  enabled: false
strimzi:
  kafka:
    nodeselectorterms:
      - matchexpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: in
          values:
          - "true"
  zookeeper:
    zooEntrance:
      zookeeperClient:
        nodeSelector:
          node-role.kubernetes.io/control-plane: "true"
    nodeselectorterms:
      - matchexpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: in
          values:
          - "true"
  schemaRegistry:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
prometheus:
  enabled: false
kube-prometheus-stack:
  prometheusOperator:
    enabled: false
    nodeSelector: 
      node-role.kubernetes.io/control-plane: "true"
prometheusOperator:
  nodeSelector: 
    node-role.kubernetes.io/control-plane: "true"
alertmanager:
  alertmanagerSpec:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
kube-state-metrics:
  nodeSelector: 
    node-role.kubernetes.io/control-plane: "true"
