---
# vim: set ft=yaml:

#TODO: This needs to be present for Redpanda
- name: Deploy Cert-Manager
  delegate_to: localhost
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: jetstack/cert-manager
    create_namespace: yes
    # chart_version: 0.8.2
    wait: true
    release_namespace: cert-manager
    values: "{{ lookup('ansible.builtin.template', 'cert-manager-values.yaml.j2') | from_yaml }}"

- name: Deploying Prometheus
  delegate_to: localhost
  kubernetes.core.helm:
    name: kp
    chart_ref: "{{ q('pipe', 'git rev-parse --show-toplevel')[0] }}/charts/prometheus-community/charts/kube-prometheus-stack"
    # chart_version: 39.9.0
    # chart_repo_url: https://prometheus-community.github.io/helm-charts
    release_namespace: default
    # create_namespace: true
    # force: true
    values: "{{ lookup('ansible.builtin.template', 'kube-prometheus-stack-values.yaml.j2') | from_yaml }}"

- name: Disable Prometheus monitoring (Will be re-enabled during experiment)
  k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: Prometheus
      metadata:
        namespace: default
        name: kp-kube-prometheus-stack-prometheus
      spec:
        replicas: 0
