---
# vim: set ft=yaml:
mirrors:
  docker.io:
    endpoint:
      - "https://gkovilkkattpanickerveetil-vm.lille.grid5000.fr"
      - "https://docker.io"
      # - "http://gkovilkkattpanickerveetil-vm.lille.grid5000.fr:5000"
configs:
  "gkovilkkattpanickerveetil-vm.lille.grid5000.fr":
    tls:
      insecure_skip_verify: true
  # docker-cache.grid5000.fr:
  #   endpoint:
  #     - "http://docker-cache.grid5000.fr"
