---
# vim: set ft=yaml:
apiVersion: theodolite.rocks/v1beta1
kind: execution
metadata:
  name: uc1-flink
  namespace: default
spec:
  benchmark: "uc1-flink"
  load:
    loadType: "NumSensors"
    loadValues:
      - {{ uc1_flink_loadValue }}
  resources:
    resourceType: "Instances"
    resourceValues:
      - {{ uc1_flink_resourceValue }}
  execution:
    strategy:
      name: "RestrictionSearch"
      restrictions:
        - "LowerBound"
      searchStrategy: "FullSearch"
    duration: {{ duration }} # in seconds
    repetitions: 1
    loadGenerationDelay: 5 # in seconds
  configOverrides: []
  slos:
    - name: "Dummy SLO"
      properties:
        externalSloUrl: "http://kp-kube-prometheus-stack-prometheus.default.svc.cluster.local:9090"
        promQLQuery: "sum by(instance) (up)"
        warmup: 60 # in seconds
        queryAggregation: count
        repetitionAggregation: sum
        operator: gte
        threshold: 0
  # - patcher:
  #     type: "NodeSelectorPatcher"
  #     resource: "uc1-load-generator-deployment.yaml"
  #     properties:
  #       variableName: "env"
  #     value: "prod"
  # - patcher:
  #     type: "NodeSelectorPatcher"
  #     resource: "uc1-kstreams-deployment.yaml"
  #     properties:
  #       variableName: "env"
  #   value: "prod"
  # - patcher:
  #     type: "ResourceLimitPatcher"
  #     resource: "uc1-kstreams-deployment.yaml"
  #     properties:
  #       container: "uc-application"
  #       limitedResource: "cpu"
  #   value: "1000m"
  # - patcher:
  #     type: "ResourceLimitPatcher"
  #     resource: "uc1-kstreams-deployment.yaml"
  #     properties:
  #       container: "uc-application"
  #       limitedResource: "memory"
  #   value: "2Gi"
  #  - patcher:
  #      type: "SchedulerNamePatcher"
  #      resource: "uc1-kstreams-deployment.yaml"
  #    value: "random-scheduler"
