---
# vim: set ft=yaml:
apiVersion: theodolite.rocks/v1beta1
kind: execution
metadata:
  name: experiment
  namespace: default
spec:
  benchmark: "experiment-benchmark"
  load:
    loadType: "NumSensors"
    loadValues:
      - 100000
  resources:
    resourceType: "Instances"
    resourceValues:
      - 3
  execution:
    strategy:
      name: "RestrictionSearch"
      restrictions:
        - "LowerBound"
      searchStrategy: "FullSearch"
    duration: 60 # in seconds
    repetitions: 1
    loadGenerationDelay: 30 # in seconds
  configOverrides: []
  slos:
    - name: "Dummy SLO"
      properties:
        externalslourl: "http://localhost:8082"
        promqlquery: "sum by(instance) (up)"
        warmup: 60 # in seconds
        queryaggregation: count
        repetitionaggregation: sum
        operator: gte
        threshold: 0
  # - patcher:
  #     type: "NodeSelectorPatcher"
  #     resource: "uc1-load-generator-deployment.yaml"
  #     properties:
  #       variableName: "env"
  #     value: "prod"
  # - patcher:
  #     type: "NodeSelectorPatcher"
  #     resource: "uc1-kstreams-deployment.yaml"
  #     properties:
  #       variableName: "env"
  #   value: "prod"
  # - patcher:
  #     type: "ResourceLimitPatcher"
  #     resource: "uc1-kstreams-deployment.yaml"
  #     properties:
  #       container: "uc-application"
  #       limitedResource: "cpu"
  #   value: "1000m"
  # - patcher:
  #     type: "ResourceLimitPatcher"
  #     resource: "uc1-kstreams-deployment.yaml"
  #     properties:
  #       container: "uc-application"
  #       limitedResource: "memory"
  #   value: "2Gi"
  #  - patcher:
  #      type: "SchedulerNamePatcher"
  #      resource: "uc1-kstreams-deployment.yaml"
  #    value: "random-scheduler"
